/*Successfully linked*/

body {
  background-color: black;
  width: 100%;
}

footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
    font-size: 10px;
    text-align: center;
}

h1 {
  font-family: 'Paytone One', sans-serif;
}

#backButton {
  background-color: white;
  color: black;}

#eventDiv {
  text-align: center;
}

#eventDiv img {
  width: 100%;
  height: auto;
}

#eventHeader {
  text-align: center;
}

#eventJoin {
  background-color: #ff0000;
}

#eventSubmit {
  background-color: #ff0000;
}

#eventTime {
}

#forwardButton {
  background-color: white;
  color: black;
}

#goButton {
  background-color: #ff0000;
  font-size: 25px;
}

#navButtons {
  position: fixed;
  bottom: 30px;
  width: 100%;
  margin-top: 20px;
}