/*Successfully linked*/

body {
  background-color: black;
  width           : 100%;
}

footer {
    position  : fixed;
    bottom    : 5px;
    width     : 100%;
    font-size : 10px;
    text-align: center;
}

h1 {
  font-family: 'Paytone One', sans-serif;
}

#backButton {
  background-color: white;
  color           : black;
}

#createButton {
  background-color: #ff0000;
  font-size       : 25px;
}

#eventDiv {
  text-align: center;
}

#eventDiv img {
  width : 100%;
  height: auto;
}

#eventHeader {
  text-align: center;
}

#eventJoin {
  background-color: #ff0000;
}

#eventSubmit {
  background-color: #ff0000;
}

#eventTime {
}

#findButton {
  background-color: #ff0000;
  font-size       : 25px;
}

#forwardButton {
  background-color: white;
  color           : black;
}

#goButton {
  background-color: #ff0000;
  font-size       : 25px;
}

#navButtons {
  position  : fixed;
  bottom    : 30px;
  width     : 100%;
  margin-top: 20px;
}

#weather img {
  width: 40px;
}

#welcomeCenter img {
  width     : 60%;
  height    : auto;
  text-align: center;
}

/*Mariah's CSS*/
.infoOneLine {

width : 100%;
clear : right;
height: 70px;

/*     display: flex;
  justify-content: center;
  align-content: flex-start;*/
/*background-color: blue;*/
display        : flex;
justify-content: space-between;
margin         : 0 auto;
}

.oneLine {
  /*float: left;*/
  /*display: inline-block;*/
  max-width      : 30%;
  display        : flex;
  justify-content: space-between;
  margin         : 0 auto;
}

#createEventForm {
  width           : 100%;
  height          : 100%;
  padding         : 20px;
  background-color: darkgray;
}

#addEvent {
  width: 100%;
}

