body {
    background-color: black;
    width: 100%;
}

footer {
    position: static;
    bottom: 5px;
    width: 100%;
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-family: 'Paytone One', sans-serif;
    cursor: pointer;
}

#backButton {
    background-color: white;
    color: black;
}

#createButton {
    background-color: #ff0000;
    font-size: 25px;
}

#eventDiv {
    text-align: center;
}

#eventDiv img {
    width: 100%;
    height: auto;

}

#eventHeader {
    text-align: center;
}

#eventJoin {
    background-color: #ff0000;
}

#eventSubmit {
    background-color: #ff0000;
}

#eventTime{}

#findButton {
    background-color: #ff0000;
    font-size: 25px;
}

#createSection {
    position: fixed;
    top: 20px;
}

#findSection {
    position: fixed;
    top: 150px;
}

#forwardButton {
    background-color: white;
    color: black;
}

#goButton {
    background-color: #ff0000;
    font-size: 25px;
}

#navButtons {
    position: fixed;
    bottom: 30px;
    width: 100%;
    margin-top: 20px;
}

#pieHeader {
    font-family: 'Paytone One', sans-serif;
    font-size: 25px;
}

#weather img {
    width: 40px;
}

#welcomeCenter img {
    width: 60%;
    height: auto;
    text-align: center;
    cursor:pointer;

}




/*Mariah's CSS*/

.infoOneLine {
    width: 100%;
    clear: right;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.oneLine {
    /*float: left;*/
    /*display: inline-block;*/
    max-width: 30%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#createEventForm {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: darkgray;
}

#addEvent {
    width: 100%;
    background-color: #ff0000;
    font-size: 20px;
}

#findEvent {
    width: 100%;
    background-color: #ff0000;
    font-size: 20px;
}

.close {
    width: 100%;
}

.well {
    width: 250px;
    height: 300px;
    float: left;
    
    margin-right: 15px;
    /*text-align: center;*/
}

.required sup {
    color: red;
}

#eventDescription {
    text-wrap: normal;
    margin-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    
    
}

#eventDate {
    text-align: center;
    margin-bottom: 12px;
}

#category {
    margin-top: 12px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

}

#location , #eventTime {
    margin-left: 10px;
}

#remove {
    float: right;
    background-color: black;
    border-radius: 3px;
    /*padding: 4px;*/
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    padding-top: 2px;
    margin: 5px;;
    cursor:pointer
}

#remove:hover {
    background-color: #403e3e;
}

#twitter {
  /*float: right;*/
  display: none;
  /*margin-left: 30px;*/
  
}

/*mariah added event name*/

#eventName {
    background-color: #ae2929;
    padding: 5px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 12px;
}

.glyphicon {
    padding: 4px;
}

/*Leslie's css*/

#chat-container,
#loginform {
    margin: 0 auto;
    /*    padding-bottom:25px;
*/
    background: gray;
    opacity: ;
/*    width: 520px;
*/    height: 370px;
    border: 3px solid white;
    /*margin-top:50px;
    margin-bottom:50px;
    float:center; 
    margin-right:10px;*/
    text-align: center;
}


/*#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }*/

#username {
    color: white;
    text-align: center;
    padding: 10px;
    /*border:1px solid black;*/
}

.chat-messages {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
    background: white;
    height: 200px;
    width: 100%;
    border: 1px solid black;
    overflow: auto;
    color: black;
}

#messageInput {
    width: 180px;
    height: 28px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.messages {
    margin-top: -10px;
}

#menu {
    padding: 12.5px 25px 12.5px 25px;
}

.msgln {
    margin: 0 0 2px 0;
}

/*#testbox {
    justify-content: space-between;
    margin: 0 auto;
    background-color: yellow;
}*/

.well {
    width: 100%;
    height: auto;
    padding: 0px;
}


#testdiv {
    text-align: left;
}
